<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:aop="http://www.springframework.org/schema/aop" xmlns:tx="http://www.springframework.org/schema/tx"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd
       http://www.springframework.org/schema/context
       http://www.springframework.org/schema/context/spring-context.xsd
       http://www.springframework.org/schema/aop
       http://www.springframework.org/schema/aop/spring-aop.xsd http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx.xsd">
    <!--使用混合开发-->
    <!--包扫描-->
    <context:component-scan base-package="com.itheima"/>

    <!--对JdbcTemplate进行IOC配置-->
    <bean id="jdbcTemplate" class="org.springframework.jdbc.core.JdbcTemplate">
        <!--注入dataSource对象-->
        <property name="dataSource" ref="dataSource"/>
    </bean>

    <!--引入外部的properties文件-->
    <context:property-placeholder location="classpath:druid.properties"/>
    <!--对DataSource进行IOC配置-->
    <bean id="dataSource" class="com.alibaba.druid.pool.DruidDataSource">
        <!--
            注入username、password、url、driverClassName等信息
        -->
        <property name="username" value="${jdbc.username}"/>
        <property name="password" value="${jdbc.password}"/>
        <property name="url" value="${jdbc.url}"/>
        <property name="driverClassName" value="${jdbc.driverClassName}"/>
    </bean>

    <!--加载aop的注解驱动-->
    <aop:aspectj-autoproxy />

    <!--配置事务管理者-->
    <bean id="transactionManager" class="org.springframework.jdbc.datasource.DataSourceTransactionManager">
        <!--注入数据源dataSource对象-->
        <property name="dataSource" ref="dataSource"/>
    </bean>

    <!--加载声明式事务的注解驱动-->
    <tx:annotation-driven transaction-manager="transactionManager"/>
</beans>